<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Food Reviews", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Reviews", "Reviews")</li>
                    <li>@Html.ActionLink("Restaurant", "Restaurant", "Restaurant")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="footer">
        <a href="https://www.instagram.com/jackfagan01/"> <img class="icons" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" /></a>
        <a href="https://www.facebook.com/jack.fagan.10"> <img class="icons" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" /></a>
        <a href="https://twitter.com/jackfagan01"> <img class="icons" src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter40x40.png" /></a>
    </div>

</body>

</html>
